.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    padding: 2px;
}
.side-nav {
    display: inline-block;
    height: 400px;
    width: 200px;
    background-color: blue;
    margin: 5px;
}
.nav-2 {
    display: inline-block;
    height: 400px;
    width: 800px;
    background-color: red;
    margin: auto;
}
.sub-content {
    display: inline-block;
    margin: 7px 7px 5px 7px;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 690px;
    background-color: purple;
}
.row {
    grid-column: auto;
    grid-row: auto;
    align-items: center;
    
}

